*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.page
{
    display: flex;
    flex-wrap: wrap;
}

/* --------  Header rules --------  */

header{
    width: 100%;
}

.menu{
    background-color: #2e3f50;
    height: 60px;
    display: flex;
    font-family: "Ubuntu", sans-serif;
    align-items: center;
    /*border: 1px white solid; /* for debug */
}

.SF-assignment{
    padding : 0 30px 0 30px;
}

.nav{
    margin-left: auto;
}
a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: white;
    
}

.home, .projects, .contact{
    padding: 0 30px 0 30px;
}

.logo-container{
    background-color: #28bd9c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

    /*border: #fff solid 1px; /* for debug */
}
.logo-container img{
    width: 30%;
    max-width: 400px;
}
.logo-container-text{
    background-color: #28bd9c;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
}
.logo-separator
{
    background-color: #28bd9c;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-separator img
{
    width: 30%;
    max-width: 400px;
}

/* -------- Content rules -------- */

main
{
    background-color: #28bd9c;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    font-family: "Ubuntu", sans-serif;
}
.content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.presentation{
    width: 60%;
    text-align:left;
}

.presentation h1{
    padding-bottom: 20px;
}
.presentation p{
    line-height: 1.5;
}

.presentation a{
    text-decoration: underline;
}

.presentation img{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: auto;
    width: 100%;
    height: auto;
}

.separator{
    margin: 0;
}

/* -------- Footer rules ------- */

.footer{
    height: 50px;
    background-color: #2e3f50;
    font-family: "Ubuntu", sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
}
